body
{
	/*font-family: 'Roboto Slab', serif;*/
	/*font-family: 'Frutiger',sans-serif;*/
}

/*header
{
	display: block;
	width: 100%;
	height: 53px;
	margin: 0 auto;
	top: 0px;
	z-index: 998;
}*/

.header
{
	display: block;
	background-color: #f5f5f5;
	position: fixed;
	top: 0px;
	z-index: 999;
	width: 100%;
	height: 53px;
	margin: 0 auto;
}

figure
{
	display: inline-block;
	float: left;
}

.Logo
{
	display: block;
	vertical-align: middle;
	float: left;
	width: 40%;
	top: 0px;
	margin-top: 0px;
}

.Logo a
{
	display: inline-block;
	float: left;
	vertical-align: middle;
	height: 100%;
	padding-top: 3px;

}

.Logo img
{
	display: inline-block;
	float: left;
	height: 47px;
	padding-bottom: 3px;
}

.Logo figcaption
{
	display: inline-block;
	float: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 15px;
	font-size: 1.4rem;
    line-height: 18px;
    font-weight: normal;
    color: #0696d7;
}



.menu1
{
	display: block;
	float: left;
	height: 50px;
	width: 150px;
	margin-left: 10px;
}

#sub:after
{
	content: "➦";
}

.menu1_img
{
	display: block;
	float: left;
	height: 50px;
	width: 30px;
	padding-top: 10px;
	padding-right: 5px;
}

.menu1_img img
{
	height: 30px;
	width: 30px;
}

.menu1_lbl
{
	display: block;
	float: left;	
	padding-top: 18px;
	font-size: 1.1rem;
    line-height: 18px;
    font-weight: normal;
	color: #9a9a9a;
	width: 100px;
	height: 50px;
}

#menu_ico
{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.menu2
{
	position: relative;
	display: none;
	width: 200px;
	height: auto;
	z-index: 10;
	border: 1px solid grey;
	background: #f5f5f5;
	list-style: none;
}

.menu2 ul
{
	position: relative;
	display: none;
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	list-style: none;
	background-color: #f5f5f5;
}

.menu2 li
{
	padding-top: 10px;
	padding-left: 0px;
}
.menu2 li > ul
{
	position: absolute;
	display: none;
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	list-style: none;
	background-color: #f5f5f5;	
	left: 195px;
	top: 30px;
	border: 1px solid grey;
}

.menu2 li:hover > ul
{
	display: block;
}

.menu2 ul li
{
	position: relative;
	display: block;
	float: left;
	width: auto;
	height: auto;	
}

.menu2 ul li > ul
{
	display: none;
	position: absolute;
	top: 35;
	left: 0;
	width: 200px;
	background: coral;
	padding-top: 10px;
}
.menu2 a
{
	text-decoration: none;
	color: #9a9a9a;
}
/*.menu2 ul li:hover ul
{
	display: block;
}*/

.content
{
	display: block;
	margin-top: 100px;
	width: 100%;
	height: 100%
}

body
{
	max-width: 1250px;
}

.IMG_Theme
{
	display: block;
	float: left;
	font-family: 'Frutiger',sans-serif;
	width: 100%;
	height: 305px;
	top: 0px;
	left: 0px;
	background-image: url("IMAGES/General_page.png");
	background-position: 0px -50px;
	/*background-repeat: no-repeat;*/
}
.IMG_Theme_pic
{
	display: block;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 200px;
}
.IMG_Theme_lbl
{
	display: block;
	float: left;
	font-size: 45px;
	line-height: 45px;
	color: #0696d7;
	width: 51%;
	font-weight: lighter;
	padding-left: 220px;
}

.about
{
	color: white;
	display: inline-block;
	float: left;
	padding-left: 220px;
	font-size: 45px;
	line-height: 47px;
	width: 51%;
	font-weight: lighter;
	z-index: 1;
}
.about_details
{
    color: white;
    font-size: 19px;
    line-height: 24px;
	display: inline-block;
	float: left;
	padding-left: 220px;
	width: 55%;
 }
 .link_theme
 {
 	display: block;
 	float: left;

	width: 170px;
	z-index: 1;
	color: white;
	font-family: 'Frutiger',sans-serif;
    line-height: 1.4;
    font-size: 14px;
    height: 20px;
    vertical-align: center;
	padding-left: 220px;
 }
 .link_theme a
 {
 	border: 2px solid;
 	border-color: white;
 	color: white;
  	text-decoration: none;
  	padding: 3px 3px 3px 3px ;
 }
 .link_theme:hover a 
 {
 	color: red;
 	font-style: normal;
 }

.articles
{
	display: block;
}

article
{
	display: inline-block;
	border: 1px solid;
	border-color: grey;
	width: 200px;
	height: 350px;
}
.article
{
    font-size: 19px;
    line-height: 1.11;
}
.article h2
{
	color: #444444;
    line-height: 24px;
	padding-left: 20px;
}

.article h3
{
    color: #444444;
    line-height: 24px;
   	padding-left: 20px;
}

.article hr
{
	color: #444444;
}
.article img
{
	display: inline-block;
	float: left;
	width: 20px;
	height: 20px;
	color: white;
}
.article figcaption
{
	display: inline-block;
}
.article:hover
{
	background-image: url('IMAGES/article1.png');
}

.article:hover a{color: white;}
.article:hover h2{color: white;}
.article:hover h3{color: white;}
.article:hover figcaption{color: white;}

#law
{
	display: inline-block;
	width: 200px;
	height: 350px;
	background-image: url('IMAGES/law.png');
	background-position: bottom;
	background-size: 200px 250px;
	background-repeat: no-repeat;
}

 #InOrg
 {
 	background: DodgerBlue;
 }
#News
{
background: linear-gradient(to top, DodgerBlue, #f1da36);
}

#law:hover
{
	display: inline-block;
	width: 200px;
	height: 250px;
	background-image: url('IMAGES/article1.png');
	background-size: 200px 250px;
}
.menu
{
	position: relative;
	display: block;
	width: 50%;
	height: auto;
	z-index: 999;
}
.menu ul
{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	list-style: none;
}
.menu > ul:after
{
	display: block;
	content: '';
	clear: both;
	height: 0;
}
.menu ul li
{
	position: relative;
	display: block;
	float: left;
	width: auto;
	height: auto;
}
.menu ul li a
{
	display: block;
	padding: 9px 25px 0px 25px;
	font-size: 14px;
	height: 35px;
}
.menu ul li > ul
{
	position: absolute;
	top: 35px;
	left: 0;
	display: none;
	width: 200px;
}
.menu ul li:hover ul 
{
	display: block;
}
.menu ul li > ul li a
{
	display: block;
	padding: 7px 25px;
}
.menu ul li > ul li a:hover
{

}
footer
{
	display: block;
	clear: both;
	margin: 0px auto;
	width: 100%;
	background-color: #f5f5f5;
	height: 300px;
}

.recvizit
{
	display: block;
	float: left;
	width: 30%;
	font-size: 13pt;
	padding-left: 2%;
	color: #9a9a9a;
}
.recvizit h3
{
	display: block;
	color: #9a9a9a;
}
.contact
 {
 	display: block;
	float: left;
	width: 30%;
	font-size: 13pt;
 }

.contact h3
{
	padding-left: 10%;
	display: block;
	color: #9a9a9a;	
}

 .contactItem
 {
	display: block;
	float: left;
	color: #9a9a9a;
	width: 100%; 
}

 .contactItem a
 {
	display: inline-block;
	vertical-align: center;
	color: #9a9a9a;
	padding-top: 20px;
 }
 .contactItem img
 {
	width: 30px;
	height: 30px;
 }
 #mapID
 {
 	width: 140px;
 	height: 100px;
 }
 .contactItem summary
 {
 	padding-top: 25px;
 }

.menu2
{
	border: 1px solid;
}

.Link_web
{
	display: block;
	float: left;	
	height: 300px;
	width: 15%;
}

.myservice
{
	display: block;
	float: left;	
	height: 300px;
	width: 18%;	
}

.myservice h3
{
	padding-top: 5%;
	display: block;
	color: #9a9a9a;
	padding-left: 15%;
}

.Link_web_items
{
	display: block;
	height: 230px;
	width: 100%;
}
.Link_web h3
{
	padding-top: 5%;
	display: block;
	color: #9a9a9a;
	padding-left: 15%;
}

.Link_web_item 
{
	display: block;
	height: 30px;
	width: 100%;
	padding-left: 15%;
}
.myservices_item
{
	display: block;
	height: 30px;
	width: 100%;
	padding-left: 2%;
}

.myservices_item a
{
	display: inline-block;
	float: left;
	height: 30px;
	font-size: 20px;
	vertical-align: middle;
	text-decoration: none;
	color: #9a9a9a;
}
.Link_web_item a 
{
	display: inline-block;
	float: left;
	height: 30px;
	font-size: 20px;
	vertical-align: middle;
	margin-left: 10px;
	text-decoration: none;
	color: #9a9a9a;
}
#FB_ico
{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(IMAGES/soc_ico.png) -70px -10px;
	background-size: 300px 42px;
	background-repeat: no-repeat;
}
#TW_ico
{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(IMAGES/soc_ico.png) -6px -10px;
	background-size: 300px 42px;
	background-repeat: no-repeat;	
}
#VK_ico
{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(IMAGES/soc_ico.png) -38px -10px;
	background-size: 300px 42px;
	background-repeat: no-repeat;		
}
#v_bord
{
	padding-top: 30px;
	padding-bottom: 20px;
	display: block;
	float: left;
	height: 250px;
	width: 1%;
}
#v_bord_h
{
	padding-top: 10px;
	padding-bottom: 5px;
	display: block;
	float: left;
	height: 35px;
	width: 1%;
}
.navigation {
   list-style: none; /* Отключение отображения маркеров. */
}
.navigation li {
   float: left; /* Выстраивание элементов списка в один ряд. */
   margin-right: 1px; /* создание отступов для того, чтобы не сливались пункты меню. */
   font-family: Verdana, Arial, Helvetica, sans-serif; /* Указание типа шрифта. */
   font-size: 14px; /* Размер текста в ссылках. */
}
.navigation li a {
   display: block; /* Изменение отображения на блочное для того чтобы иметь возможность задать внутренние отступы. */
   padding: 15px 20px;  /* Внутри блочные отступы. */
   background: #0db5b5; /* Цвет блоков меню. */
   color: #3f3f3f; /* Цвет текста в блоках меню. */
   text-decoration: none; /* Устранение подчёркивания ссылок. */
   position: relative; /* Это необходимо при использовании Internet Explorer 6 для того, чтобы ссылка по всей своей площади была «кликабельной». */
}
.navigation li a:hover {
   background: #92d3d3; /* Цвет блока при наведении курсора. */
   color: #6b6b6b;  /* Цвет текста при наведении курсора. */
}
#NAVmenu 
{
  position: fixed;
  top: 36px;
  z-index: 999;
  display: block;
  /*background: #0696d7; /*#0db5b5;*/
  background-image: url("IMAGES/General_page.png");

  width: 100%;
  padding:1;
  padding-bottom: 5px;
  text-align: center;
  float:left;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
}
#NAVmenu a {
  /*color: #3f3f3f;*/
  /*color: #9a9a9a;*/
      color: #0696d7;
  text-decoration: none;
}
#NAVmenu a:hover {
  color: #6b6b6b;
}
#NAVmenu ul {
  padding:0;
  margin:0;
  display: block;
  text-align: center;
  font-size: 0;
}
#NAVmenu ul:before
{
	content: '';
	height: 100%;
	display: inline-block;
}

#NAVmenu ul:before, li
{
	vertical-align: middle; /* еще вот */
}

#NAVmenu li 
{
  display: inline-block;
  list-style: none;
  width:125px;
  /*margin: 0 10px;*/
  padding-top: 10px;
  border: 2px solid grey;
  height: 45px;
  border-color: gray;
  background-color:  #f5f5f5; 	
  /*color: #9a9a9a;*/
  color: #0696d7;
  border-radius: 5px;
  opacity: 0.95;
  z-index: 998;

}
#NAVmenu li ul { 
  position:absolute;
  display: none;
  z-index: 998;

} 
#NAVmenu li ul li {
  float: none;
  display: inline;
  width:100%;
  line-height:35px;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  z-index: 999;
}
#NAVmenu li ul li:hover {
  background: #c392b;
}
#NAVmenu li:hover ul {
  display:block;
}
#NAVmenu li ul li { 
  display: block; 
  /*background:#92d3d3;*/
  background-color:  #f5f5f5;
  color: red;
}
#N_card_ico
{
	padding-top: 0px;
	display: block;
	float: right;
	width: 22px;
	height: 22px;
}
.Card
{
	display: block;
	float: left;
	height: 50px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	width: 70px;
	font-family: 'Frutiger',sans-serif;
}
.Npays
{
	display: block;
	float: left;
	position: relative;
	color: red;
	left: 67px;
	height: 50px;
	width: 2px;
	transform: rotate(-45deg);
	font-weight: bold;
}
#card_ico
{
	display: block;
	float: right;
	width: 40px;
	height: 40px;
}
.search
{
	display: block;
	float: left;
	width: 190px;
	height: 50px;
}




.searchField
{
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.searchField input
{
	width: 160px;
	height: 20px; 
	color: #9a9a9a;
	font-size: 14px;
}

.SearshButton
{
	position: absolute;
	display: block;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 13px;
	padding-bottom: 0px;
	border-radius: 5px;
	width: 25px;
	height: 25px;
}

.SearshButton img
{
	position: relative;
	left: 150px;
	width: 16px;
	height: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	/*margin-left: -40px;*/
}
.blanc
{
	display: block;
	float: left;
	height: 50px;
	width: 215px;
}